.vs/NeimengSalary/v14/.suo
SalaryCaculationEngine/bin/Debug/SalaryCaculationEngine.dll
SalaryCaculationEngine/bin/Debug/SalaryCaculationEngine.pdb
SalaryCaculationEngine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SalaryCaculationEngine/obj/Debug/SalaryCaculationEngine.csproj.FileListAbsolute.txt
SalaryCaculationEngine/obj/Debug/SalaryCaculationEngine.csprojResolveAssemblyReference.cache
SalaryCaculationEngine/obj/Debug/SalaryCaculationEngine.dll
SalaryCaculationEngine/obj/Debug/SalaryCaculationEngine.pdb
SalaryCaculationEngine/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SalaryCaculationEngine/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SalaryCaculationEngine/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SalaryCaculator/bin/Debug/SalaryCaculationEngine.dll
SalaryCaculator/bin/Debug/SalaryCaculationEngine.pdb
SalaryCaculator/bin/Debug/SalaryCaculator.dll
SalaryCaculator/bin/Debug/SalaryCaculator.pdb
SalaryCaculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SalaryCaculator/obj/Debug/SalaryCaculator.csproj.FileListAbsolute.txt
SalaryCaculator/obj/Debug/SalaryCaculator.csprojResolveAssemblyReference.cache
SalaryCaculator/obj/Debug/SalaryCaculator.dll
SalaryCaculator/obj/Debug/SalaryCaculator.pdb
SalaryCaculator/obj/Debug/SalaryCalculationService.csproj.FileListAbsolute.txt
SalaryCaculator/obj/Debug/SalaryCalculationService.csprojResolveAssemblyReference.cache
SalaryCaculator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SalaryCaculator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SalaryCaculator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SalaryTestApplication/bin/Debug/SalaryCaculationEngine.dll
SalaryTestApplication/bin/Debug/SalaryCaculationEngine.pdb
SalaryTestApplication/bin/Debug/SalaryCaculator.dll
SalaryTestApplication/bin/Debug/SalaryCaculator.pdb
SalaryTestApplication/bin/Debug/SalaryTestApplication.exe
SalaryTestApplication/bin/Debug/SalaryTestApplication.exe.config
SalaryTestApplication/bin/Debug/SalaryTestApplication.pdb
SalaryTestApplication/bin/Debug/SalaryTestApplication.vshost.exe
SalaryTestApplication/bin/Debug/SalaryTestApplication.vshost.exe.config
SalaryTestApplication/bin/Debug/SalaryTestApplication.vshost.exe.manifest
SalaryTestApplication/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SalaryTestApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SalaryTestApplication/obj/Debug/SalaryTestApplication.csproj.FileListAbsolute.txt
SalaryTestApplication/obj/Debug/SalaryTestApplication.csprojResolveAssemblyReference.cache
SalaryTestApplication/obj/Debug/SalaryTestApplication.exe
SalaryTestApplication/obj/Debug/SalaryTestApplication.pdb
SalaryTestApplication/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SalaryTestApplication/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SalaryTestApplication/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SalaryCaculationEngine/bin/Debug/Newtonsoft.Json.dll
SalaryCaculationEngine/bin/Debug/Newtonsoft.Json.xml
SalaryTestApplication/bin/Debug/Newtonsoft.Json.dll
SalaryTestApplication/bin/Debug/Newtonsoft.Json.xml
