<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MyInitData" value="[{&quot;Key&quot;:&quot;11&quot;,&quot;Value&quot;:1.0},{&quot;Key&quot;:&quot;22&quot;,&quot;Value&quot;:2.0},{&quot;Key&quot;:&quot;33&quot;,&quot;Value&quot;:3.0}]
" />
  </appSettings>
</configuration>